-i https://pypi.org/simple
biopython==1.76
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
future==0.18.2
h5py==2.10.0
idna==2.9
joblib==0.14.1
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras-tuner==1.0.1
keras==2.3.0
kiwisolver==1.1.0
matplotlib==3.0.0
numpy==1.14.6
pyparsing==2.4.6
python-dateutil==2.8.1
pyyaml==5.3.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
tabulate==0.8.7
terminaltables==3.1.0
tqdm==4.45.0
urllib3==1.25.8
